body{
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 85px;
}
.navbar{
  border-radius: 0;
  background-color: #0064AF /*/#337ab7*/;
  color: #FFF;
  font-size: 1.2em;
  border: 0;
  padding: 15px 25px;
}

ul.navbar-nav > li{
  margin-left: 20px;
}

.navbar-brand{
  float: left;
  min-height: 55px;
  padding-top: 0px;
}

.navbar-brand > img{
  width: 170px;
}

.navbar-toggle, .navbar-toggle:hover{
  background-color: transparent;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
  color: #0064AF;
  background-color: #FFF;
}

.navbar-inverse .navbar-nav li a{
  color: #D5D5D5;
}

.navbar-inverse .navbar-nav li a:hover{
  color: #FFF;
}

.carousel-inner{
  min-height: 400px;
  max-height: 640px;
}

.carousel-inner img{
  width: 100%;
  min-height: 400px;
  max-height: 640px;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.btn{
  font-size: 18px;
  color: #FFF;
  padding: 12px 22px;
  background-color: #0064AF;
  border: 2px solid #FFF;
}

.btn:hover{
  background-color: #099DDB;
  color: #FFF;
}

.icono{
  max-width: 170px;
  max-height: 140px;
  margin: 1% auto;
  cursor: pointer;
}

.eventos{
  width: 300px;
  height: 230px;
  margin: 1% auto;
  cursor: pointer;
}

footer{
  width: 100%;
  background-color: #0064AF;
  padding: 3%;
  color: #FFF;
}

.redes{
  padding: 20px;
  color: #FFF;
}

.container{
  margin: 4% auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1{
  font-size: 5em;
  color: #FFF;
}

h2{
  font-size: 4rem;
}

h4{
  font-size: 3rem;
}

@media (max-width: 600px){
  .carousel-caption{
    display: none;
  }
  .navbar-brand > img{
    width: 150px;
  }
}

.fondo2{
    background-color: #0064AF /*#337ab7*/;
  /*  background-image: url("../img/header1.jpg");*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.caja{
  border-left: solid 1px #F2F2F2;
  border-right: solid 1px #F2F2F2;
  margin-bottom: 40px;
  height: 350px;
}

.caja2{
  margin: 0 auto;
  width: 300px;
  height: 230px;
}

.asociacion{
  margin-bottom: 40px;
}
